{% extends 'base.html' %}
	
{% block content %}


<div>
    Welcome {{ user.username }}
    <p> Username : {{ user.username }} </p>
    <p> Email : {{ user.email }} </p>
</div>

<div>
    <h1>Hello buddy, get ready for some test. Heuheue</h1>
    <a class="btn btn-primary" href="{% url 'time_sync:add-test' %}">Add test</a>
    <a class="btn btn-info" href="{% url 'time_sync:all-test' %}">Browse test</a>
</div>

<div>To logout, <a href="{% url 'time_sync:logout' %}">Click Here</a></div>

{% endblock content %}