{% extends 'base.html' %}
	
{% block content %}


{% if success %}
<div> {{ success }} </div>
{% endif %}{% if error %}
<div> {{ error }} </div>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{ form.as_p }}
    </div>

   
    <div class="form-group text-center">
        <button class="btn btn-success mb-3">Register</button>
    </div>
    <div class="text-center">Already have an account? <a href="{% url 'time_sync:login' %}">Sign in</a>
</form>

{% endblock content %}